$color-senior: #199b87;
$color-middle: #69b486;
$color-junior: #fcdda2;

$color-additional: #f39e86;
$color-additional2: #fbbe98;

$color-red: red;
$color-blue: blue;
$color-green: green;

$color-white: #fff;
$color-black: #000;