@import "color";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/breadcrumbs";
@import "blocks/title";

body{
  background: $color-additional2;
}

.container{
  background: $color-junior;
}