{{ register_asset_bundle('backend/assets/AppAsset') }}
{{ begin_page() }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ app.charset }}"/>
    <title>{{ html.encode(this.title) }}</title>
    {{ head() }}
</head>
<body>
{{ begin_body() }}
{{ content }}

{{ end_body() }}
</body>
{{ end_page() }}