{{ register_asset_bundle('frontend/assets/AppAsset') }}
{{ this.beginPage() }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}"/>
    <meta name="viewport" container="width=device-width, initial-scale=1.0">
    <title>{{ this.title }}</title>
    {{ head() }}
</head>
<body>
{{ begin_body() }}
<div class="header">
    <div class="container">
        <div class="logo"></div>
    </div>
</div>
<div class="title">
    <div class="container">
        <h2 class="value">adasadd</h2>
    </div>
</div>
<div class="breadcrumbs">
    <div class="container">
    </div>
</div>
<div class="items">
    <div class="container">
        {{ container }}
    </div>
</div>
<div class="footer">
    <div class="container">
    </div>
</div>
{{ end_body() }}
</body>
{{ end_page() }}
